<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<h2>Form Đăng nhập</h2>
<form th:action="@{/account/login}" method="post">
    <label>Tên đăng nhập:</label>
    <input type="text" name="username"><br>

    <label>Mật khẩu:</label>
    <input type="password" name="password"><br>

    <label>
        <input type="checkbox" name="remember"> Ghi nhớ đăng nhập
    </label><br>

    <button type="submit">Đăng nhập</button>
</form>

<p th:text="${message}" style="color: blue;"></p>
</body>
</html>
